*{
    box-sizing:border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    overflow: auto;
}

.header {
    display: flex;
    background-color: white;
}

.logo{
    width:40%;
    color:#a4161a;
    padding: 15px 0px 15px 65px;
    font-family: "Russo One", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size:45px;
    word-spacing: -10px;
}

.logo a {
    cursor: pointer;
    color: #a4161a;
    text-decoration: none;
}

.logo a:hover {
    opacity: 0.5;
}

.menu{
    position: absolute;
    display: none;
    font-family: FontAwesome;
    font-weight: 100;
    font-size: 23px; 
    left:15px;
    top:22px; 
    color: black; 
    cursor: pointer;
}

.menu:hover {
    opacity: 0.5;
}

.sideflex {
    display: none;
    position: fixed;
    background-color: whitesmoke;
    display: none;
    cursor:defaults;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
}

.sidebar{
    display:none;
    position:absolute;
    z-index:2;
    background-color: #a4161a;
    width:180px;
    height:100%;
}

.sideabout , .sidearticle{
    padding:15px 15px 15px 15px;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-size: medium;
    font-weight: 400;
}

.close {
    padding:15px 15px 10px 150px; 
    font-size:larger;
    font-weight:400;
    color:white;
}

.close i {
    cursor:pointer;
}

.close i:hover {
    opacity : 0.5;
}

.sideabout a, .sidearticle a {
    text-decoration: none;
    color: white;
}

.sideabout a:hover , .sidearticle a:hover {
    opacity: 0.5;
}

.sideabout:hover , .sidearticle:hover {
    background-color: #a4161a;
}

.search {
    width:60%;
    display: flex;
    align-items: center;
}

.article{
    width:20%;
    color:#a4161a;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:20px;
}

.about {
    width:20%;
    color:#a4161a;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:20px;
}

.article a,.about a{
    cursor: pointer;
    text-decoration: none;
    color: #a4161a;
}

.article a:hover, .about a:hover {
    opacity:0.5;
}
.bar {
    display:flex;
    width:60%;
    align-items:center;
}

.text {
    background-color: white;
    padding:8px 20px;
    width: 81%;
    border-top:1.2px solid #ccc;
    border-bottom:1.2px solid #ccc;
    border-left: 1.2px solid  #ccc;
    border-right:none;
    color:black;
    font-family:"Bebas Neue" , sans-serif;
    font-weight:400;
    font-size: large;
    outline: none;
}

.text::placeholder {
    color:hsl(0,0%,80%);
}

.text:focus {
    border-top:1.2px solid rgba(0, 0, 0, 0.7);
    border-bottom:1.2px solid rgba(0, 0, 0, 0.7);
    border-left: 1.2px solid  rgba(0, 0, 0, 0.7);
    border-right:none;
    background-color:hsl(0, 0%, 95%);
}

.text:focus + .button {
    border-top: 1.2px solid rgba(0, 0, 0, 0.7);
    border-bottom:1.2px solid rgba(0, 0, 0, 0.7);
    border-right: 1.2px solid  rgba(0, 0, 0, 0.7);
    border-left:none;
    background-color:hsl(0, 0%, 95%);
}

.text:hover {
    background-color:hsl(0, 0%, 95%);
}

.text:hover + .button {
    background-color: hsl(0, 0%, 95%);
}

.button {
    background-color: white;
    cursor: pointer;
    padding:8px 20px;
    width:10%;
    border-top:1.2px solid #ccc;
    border-bottom:1.2px solid #ccc;
    border-right: 1.2px solid  #ccc;
    border-left:none;
    font-family:"Bebas Neue" , sans-serif;
    font-size: large;
    outline: none;
}

.button i {
    opacity:0.5;
}
.button i:hover{
    opacity: 1;
}

.recent {
    background-color: hsl(358, 76%, 36%);   
}
.recent a {
    display: inline-block;
    color: #E9E9E4;
    padding:10px 10px;
    font-family:'Roboto Slab', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
}

.recent a:hover {
    color:white;
}

.home {
    margin-left:55px;
}

.recent a:last-of-type{
    position:relative;
    color: white;
}

.recent a:last-of-type:hover {
    color:#E9E9E4;
}

.current::after {
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    left:var(--after-left);
    top:40px;
    border-width:5px;
    border-style:solid;
    border-color:#f6f6f6;
    transform:rotate(45deg);
}

.recent i{
    color:white;
    font-size: 14px;
}

.articles {
    background-color: white;;
    color:black;
    font-family: "Neuton", sans-serif;
    font-weight: 400;
    font-size:22px;
    font-style: normal;
    padding:10px 50px;
    margin:30px 55px;
}

.heading{
    color:#343434;
    font-family: "Lilita One", sans-serif;
    font-size:60px;
    font-style: normal;
    margin-bottom: 20px;
}

.intro_container {
    color:black;
}

.introby {
    display: flex;
    flex-direction: column;
    width:257.4px;
    background-color: white;
    height:300px;
    float:right;
    margin:20px 0px 10px 15px;
}
.board {
    background-color: #f6f6f6;
}
.introby img {
    width:100%;
}
.intro1 {
    background-color:#f6f6f6;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 100%;  /* Takes remaining height */
}
.by div {
    color:black;
    font-family: "Sono" , monospace;
    font-size:13px;
    font-weight: 600;
    padding:10px 0px;
} 

.credits div {
    color:black;
    font-family: "Sono" , monospace;
    font-size:13px;
    font-weight: 600;
    padding:10px 0px 10px 10px;
}

.credits div a {
    color:#a4161a;
    text-decoration: none;
}

.credits div span {
    color:green;
}

h3 {
    display:flex;
}

h3 div:first-of-type {
    width:22.3px;
}
h3 div:last-of-type {
    width:97%;
}

li {
    padding:5px 0px 5px 5px; 
}

li span {
    display: inline-block;
    background-color: #dcdcdc;
    border-radius: 5px;
    color:#a4161a;
    font-weight: 600;
    padding: 0px 5px 5px 5px;
    line-height: 1;
}

.code {
    background-color: #343434;
    color:#f9f9f9;
    border-radius: 8px;
    font-family:monospace;
    font-weight: 200;
    font-size: 15px;
    padding:10px;
    margin-top:10px;
    line-height: 1.5;
}
.snip img{
    width:100%;
}

@media screen and (max-width:760px) and (min-width:600px) {
    .articles {
        margin:30px 0px;
    }
    .intro_container {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .introby {
        order:1;
        margin:0px 0px 30px 0px;
        width:350px;
        height:350px;
        float:none;
    }
    .intro {
        width:100%;
        order:2;
    }
}

@media screen and (max-width:600px) and (min-width:250px) {
    .articles {
        margin:30px 0px;
        padding:10px 20px;
        font-size:18px; 
    }
    .heading {
        font-size:40px;
    }
    .intro_container {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .introby {
        order:1;
        margin:0px 0px 30px 0px;
        width:280px;
        height:280px;
        float:none;
    }
    .intro {
        width:100%;
        order:2;
    }
}


@media screen and (max-width:480px) and (min-width:250px) {
    .logo {
        font-size:35px;
    }
    .text, .button {
        font-size:medium;
    }
    .menu {
        top:15px;
    }
    .recent a {
        font-size:15px;
    }
    .current::after {
        top:35px;
    }
}

@media screen and (max-width:760px) and (min-width:250px) {
    .header {
        flex-direction:column;
    }
    .article , .about {
        display:none;
    }
    .logo , .search {
        width:100%;
        margin-top:1%;
        margin-bottom:0.5%;
    }
    .logo {
        padding:0px 0px;
        text-align:center;
    }
    .search{
        justify-content:center;
        margin-bottom:2.5%;
    }
    .menu{
        display:inline-block;
    }
    .recent {
        text-align:center;
    }

    .home {
        margin-left:0px;
    }

    .recent a:first-of-type {
        padding:10px 10px 10px 0px;
    }

    .recent a:last-of-type {
        display:block;
        text-align: center;
        padding:10px 0px 10px 0px;
    }
}

@media screen and (min-width:761px) and (max-width:900px) {
    .logo{
        width: 45%;
        font-size:35px;
        padding:15px 0px 15px 20px;
    } 
    .search {
        width:55%;
    }
    
    .about,.article,.text , .button {
        font-size:18px;
    }
    
    .recent a{
        padding:10px 10px;
    }

    .home {
        margin-left: 10px;
    }
}

@media screen and (min-width:900px) and (max-width:1100px) {

    .logo{
        width: 45%;
        font-size:40px;
        padding:15px 0px 15px 40px;
    } 
    .search {
        width:55%;
    }
    
    .about,.article,.text , .button {
        font-size:19px;
    }
    
    .recent a{
        padding:10px 10px;
    }

    .home {
        margin-left:30px;
    }
}          